In [27]:
import pandas_datareader.data as web
import datetime as dt

In [26]:
print(web.__version__)

0.8.1

In [28]:
start = dt.datetime(2015,1,1)

In [29]:
end = dt.datetime.now()

In [34]:
df = web.DataReader('TSLA', 'yahoo',start, end)

In [40]:
df.head()

                  High         Low        Open       Close   Volume
Date
2014-12-31  225.679993  222.250000  223.089996  222.410004  2297500
2015-01-02  223.250000  213.259995  222.869995  219.309998  4764400
2015-01-05  216.500000  207.160004  214.550003  210.089996  5368500
2015-01-06  214.199997  204.210007  210.059998  211.279999  6261900
2015-01-07  214.779999  209.779999  213.350006  210.949997  2968400

In [36]:
df.reset_index(inplace = True)

In [37]:
df.set_index("Date",inplace = True)

In [39]:
df = df.drop("Adj Close",axis =1)

In [43]:
app = dash.Dash()

In [44]:
app.layout = html.Div(children=[
    html.H1(children='Hello Dash'),



    html.Div(children='''
       Finance
    '''),

    dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': df.index, 'y': df.Close, 'type': 'line', 'name': 'TSLA'},
                
            ],
            'layout': {
                'title': 'Stock'
            }
        }
    )
])

In [45]:
if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off